$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

// utilities
$Font-size: 24px;
$weights: 700;
// - Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)

// mixins
@mixin flexCenter($a: flex, $b: center, $c: center) {
  display: $a;
  justify-content: $b;
  align-items: $c;
}

@mixin sm {
  @media (max-width: 500px) {
    @content;
  }
}
